@{
    ViewBag.Title = "Update Villa Number";
}

@model  UpdateVillaNumber


<div class="container">

    <div class="container">
        <h1>Update Villa Number Data</h1>
        <hr />
    </div>

     


    <div class="container">
            <form asp-action="Update">

            <input type="hidden" name="OriginalVillaNO" value="@Model.VillaNo"></input>
            <input type="hidden"  asp-for= "@Model.VillaNo"> 

           @*  <div class=" form-group m-2">
                <label class="m-2" for="villaNo">Vill No: </label>
                <input id="villaNo" type="text" asp-for="@Model.VillaNo" class="form-control" />
            </div>
 *@
                 <div class=" form-group m-2">
                     <label class="m-2" for="Name">Special Details: </label>
                     <input id="Name" type="text" asp-for="@Model.SpecialDetails" class="form-control"/>
                 </div>

                <div class=" form-group m-2">
                    <label class="m-2" for="Villa">Villa: </label>
                        <select id="Villa" asp-for="VillaId">
                            @foreach (var villa in ViewBag.Villas)  {
                            <option   value="@villa.Id"  >@villa.Name</option>
                            }  
                        </select>
                </div>


    
                <div class=" d-flex justify-content-between m-5">                
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="VillaNumber"> &larr; Back To List</a>

                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>

        </form>
    </div>




</div>